.build/
com/pdfjet/*.class
com/pdfjet/font/*.class
net/pdfjet/*.exe.mdb
examples/*.class
examples/*.exe.mdb
util/*.class
build
bin
obj
out
*.jar
*.exe
*.dll
*.dll.mdb
*.pdf
.vscode/
.vscode/launch.json
