.build/
com/pdfjet/*.class
com/pdfjet/font/*.class
net/pdfjet/*.exe.mdb
examples/*.class
examples/*.exe.mdb
util/*.class
build
bin
obj
out
*.jar
*.exe
*.dll
*.dll.mdb
*.pdf
.vscode/
.vscode/launch.json
.idea/dictionaries/
.idea/compiler.xml
.idea/go.imports.xml
docs/java/*.html
docs/_net/*.html
docs/java/com/pdfjet/*.html
docs/_net/net/pdfjet/*.html
